.Avatar{
    border-radius: 10%;
    border: 5px solid #fff;
}

.hoverIcon{
    padding: 2px;
    background-color: rgb(165, 165, 165);
    transition: all 100ms linear;
}

.hoverIcon:hover{
    transform: scale(0.95);
    filter: brightness(.9);
}
