<div class="container-fluid bg-white py-5">

    <div class="container-lg py-2">
        <div class="row flex-column flex-lg-row align-items-center justify-content-between border shadow">
            <h2 class="text-center mt-3">Carte d'intern</h2>

            <div class="col-12 col-lg-4 py-3 d-flex align-items-center justify-content-center justify-content-lg-end">
                <div class="py-2 d-flex align-items-baseline">
                    <img class="Avatar shadow" src="{{avatar_url}}" width="256px" height="256px" alt='{{avatar_alt}}' />
                    <fa-icon [icon]="faPenToSquare" class="hoverIcon shadow card text-white ms-1" title="importer une image"></fa-icon>
                </div>
            </div>

            <div class="col-12 col-lg-3 py-3 my-auto">
                <div>
                    <div class="d-flex justify-content-between">
                        <strong class="me-2 text-start">Nom</strong>
                        <span class="ms-2 text-end">{{nom}}</span>
                    </div>
                    <hr class="my-1">
                    <div class="d-flex justify-content-between">
                        <strong class="me-2 text-start">Prénom</strong>
                        <span class="ms-2 text-end">{{prenom}}</span>
                    </div>
                    <hr class="my-1">
                    <div class="d-flex justify-content-between">
                        <strong class="me-2 text-start">Email</strong>
                        <span class="ms-2 text-end">{{email}}</span>
                    </div>
                    <hr class="my-1">
                    <div class="d-flex justify-content-between">
                        <strong class="me-2 text-start">Téléphone</strong>
                        <span class="ms-2 text-end">{{tel}}</span>
                    </div>
                    <hr class="my-1">
                    <div class="d-flex justify-content-between">
                        <strong class="me-2 text-start">Genre</strong>
                        <span class="ms-2 text-end" colspan="2">{{genre}}</span>
                    </div>
                    <hr class="my-1">
                    <div class="d-flex justify-content-between">
                        <strong class="me-2 text-start">Numéro de chambre</strong>
                        <span class="ms-2 text-end" colspan="2">{{chambre}}</span>
                    </div>
                    <hr class="my-1">
                </div>
            </div>

            <div class="col-12 col-lg-5 py-3 d-block d-lg-flex">
                <div>
                    <div class="d-flex justify-content-between">
                        <strong class="me-2 text-start">Code wifi</strong>
                        <span class="ms-2 text-end" colspan="2">{{code_wifi}}</span>
                    </div>
                    <hr class="my-1">
                    <div class="d-flex justify-content-between">
                        <strong class="me-2 text-start">Séssion</strong>
                        <span class="ms-2 text-end" colspan="2">{{session}}</span>
                    </div>
                    <hr class="my-1">
                    <div class="d-flex justify-content-between">
                        <strong class="me-2 text-start">Période de formation</strong>
                        <span class="ms-2 text-end" colspan="2">{{periode_de_formation}}</span>
                    </div>
                    <hr class="my-1">
                    <div class="d-flex justify-content-between">
                        <strong class="me-2 text-start">Status Clé</strong>
                        <span class="ms-2 text-end" colspan="2"><input type="checkbox" name="" id=""></span>
                    </div>
                    <hr class="my-1">
                    <div class="d-flex justify-content-between">
                        <strong class="me-2 text-start">Imatriculation</strong>
                        <span class="ms-2 text-end" colspan="2">{{imatriculation}}</span>
                    </div>
                    <hr class="my-1">
                    <div class="d-flex justify-content-between">
                        <strong class="me-2 text-start">Personne a contacter</strong>
                        <span class="ms-2 text-end " colspan="2">{{contact_durgence}}</span>
                    </div>
                    <hr class="my-1">
                </div>
            </div>
            
            <div class="col-12 text-center d-flex flex-column py-2">
                <p>Sur cette page, vous avez accès à toutes vos informations personnelles, mises à jour pendant toute la durée de votre
                formation. Ces données ont été fournies lors de votre inscription.</p>
            </div>
        </div>
    </div>

    <div class="container-lg py-2">
        <div class="row flex-column flex-lg-row align-items-center justify-content-between border shadow">
            <div>
                <div class="d-flex flex-row align-items-center justify-content-center py-1">
                    <h2 class="text-center my-0">Mes signalement</h2>
                </div>
                <div class="d-flex flex-row align-items-center justify-content-center py-2">
                    <button type="button" name="" id="" class="btn btn-primary px-1 py-1">
                        Envoyer un signalement
                        <fa-icon [icon]="faPaperPlane" class=" text-white mx-1"></fa-icon>
                    </button>
                </div>
            </div>
            <div>
                <table class="table table-sm table-striped responsive text-center table-hover table-bordered" wt-responsive-table>
                    <thead class="table-primary">
                        <tr>
                            <th>Objet</th>
                            <th>Date</th>
                            <th>Note</th>
                            <th>Statut</th>
                        </tr>
                    </thead>
                    <tbody class="table-secondary ">
                        <tr *ngFor="let sign of signalementTab">
                            <td data-title="Objet" data-title-override="Objet">{{sign.objet}}</td>
                            <td data-title="Date" data-title-override="Date">{{sign.date}}</td>
                            <td data-title="Note" data-title-override="Note">{{sign.note}}</td>
                            <td data-title="Statut" data-title-override="Statut">{{sign.statut}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <div class="container-lg py-2">
        <div class="row flex-column flex-lg-row align-items-center justify-content-between border shadow">
            <div>
                <div class="d-flex flex-row align-items-center justify-content-center py-1">
                    <h2 class="text-center my-2">Tableaux des activité</h2>
                </div>

                <div>
                    <table class="table table-sm table-striped responsive text-center table-hover table-bordered" wt-responsive-table>
                        <thead class="table-primary">
                            <tr>
                                <th>Activité</th>
                                <th>Date</th>
                                <th>Informations</th>
                                <th>Disponibilité</th>
                                <th>Participer</th>
                            </tr>
                        </thead>
                        <tbody class="table-secondary ">
                            <tr *ngFor="let ativiter of activiterTab">
                                <td class="my-auto" data-title="Activite" data-title-override="Activite">{{ativiter.activite}}</td>
                                <td data-title="Date" data-title-override="Date">{{ativiter.date}}</td>
                                <td data-title="Informations" data-title-override="Informations">{{ativiter.information}}</td>
                                <td data-title="Disponibilite" data-title-override="Disponibilite">{{ativiter.disponibiliter}}/{{ativiter.disponibiliter_max}}</td>
                                <td data-title="Participer" data-title-override="Participer">
                                    <button type="button" name="" id="" class="btn btn-primary px-1 py-1">Participer</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-sm table-striped responsive text-center table-hover table-bordered" wt-responsive-table>
                        <thead class="table-primary">
                            <tr>
                                <th>Jeux de société</th>
                                <th>Quantité</th>
                            </tr>
                        </thead>
                        <tbody class="table-secondary ">
                            <tr *ngFor="let jeux of jeux_societerTab">
                                <td class="my-auto" data-title="Activite" data-title-override="Activite">{{jeux.nom}}</td>
                                <td data-title="Quantite" data-title-override="Quantite">{{jeux.quantiter}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
    </div>
</div>
