<!--nav bar -->
<div>
    <header class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
        <div class="d-flex mb-2 mb-lg-0">
            <img src="assets/img/afpar-logo.png" width="64" height="64" alt="" class="ms-2">
            <a class="navbar-brand ms-3 fs-2" [routerLink]="['']">Glit-Ch</a>
        </div>
        <div class="mx-3">
            <form class="d-flex">
                <input class="form-control me-2" type="text" placeholder="Identifiant" aria-label="Id">
                <input class="form-control me-2" type="password" placeholder="Mot de passe" aria-label="Mdp">
                <button class="btn btn-outline-success" type="submit"><fa-icon [icon]="faRightToBracket"></fa-icon></button>
            </form>
        </div>
    </header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary " *ngIf="currentUrl != '/accueil'">
        <ul class="navbar-nav ms-3">
            <li class="nav-item active">
                <a class="nav-link ps-0" [routerLink]="['']"><fa-icon [icon]="faHouse" class="me-1"></fa-icon>Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><fa-icon [icon]="faCommentDots" class="me-1"></fa-icon>Signalement</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><fa-icon [icon]="faPersonBiking" class="me-1"></fa-icon>Activité</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><fa-icon [icon]="faBed" class="me-2"></fa-icon>Gestion Chambres</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><fa-icon [icon]="faChartLine" class="me-2"></fa-icon>Statistique</a>
            </li>
        </ul>
    </nav>
</div>

<div>
    <router-outlet></router-outlet>
</div>

<footer class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
    <div class="d-flex flex-wrap" id="navbarNav">
        <a class="navbar-brand ms-3 d-flex align-items-center" [routerLink]="['']">&copy; Glit-Ch</a>
        <ul class="nav ">
            <li class="nav-item active">
                <img class="icon m-2 " width="40px" height="40px" src="assets/img/Logo_Meteo_France.png" alt='Logo AFPAR' />
            </li>
            <li class="nav-item active">
                <img class="icon m-2 " width="40px" height="40px" src="assets/img/Logo_Meteo_France.png" alt='Logo AFPAR' />
            </li>
            <li class="nav-item active">
                <img class="icon m-2 " width="40px" height="40px" src="assets/img/Logo_Meteo_France.png" alt='Logo AFPAR' />
            </li>
            <li class="nav-item active">
                <img class=" m-2 " width="40px" height="40px" src="assets/img/Logo_Meteo_France.png" alt='Logo AFPAR' />
            </li>
        </ul>
    </div>

    <div class="d-flex " id="navbarNav">
        <ul class="navbar-nav mx-3">
            <li class="nav-item active">  
                <a class="nav-link" href="#Biographie">Mentions Légales</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Biographie">Contacts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Competences">Plan d'accés</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Competences">Règlement intérieur</a>
            </li>
        </ul>
    </div>
</footer>